:root {
  /*font-family: 'Rubik', Helvetica, sans-serif!important;*/
  /*line-height: 1.5;*/
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*color: #202124;*/
}

:root * {
  box-sizing: border-box;
}

html,
body {
  background-color: unset!important;
}

body {
  margin: 0;
  background: url("images/grid-background-tile.svg") #fff repeat;
}

#app {
  min-height: 100vh;
}

small {
  font-size: 0.75rem;
}

/* ANCHOR */
.nav-link {
  color: #202124!important;
  font-weight: bolder!important;
  text-decoration: underline!important;
  text-decoration-color: #fe0096!important;
  text-decoration-thickness: 3px!important;
}

.nav-link:hover {
  text-decoration: underline!important;
  text-decoration-color: #e40087!important;
  text-decoration-thickness: 3px!important;
  background-color: rgba(324 100 89 / 5%)!important;
}

.tooltip .avatar {
  background-color: lightpink!important;
}

.tooltip .avatar-text {
  font-size: 1.25rem!important;
}
