@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");

:root {
  font-family: "Noto Sans", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #242424;
  background-color: #fff;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
