@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #fff;
}

body {
  margin: 0;
}
